.discussion .vss-Persona {
  margin-top: 2px;
  margin-right: 8px;
}

.comment {
  padding-top: 12px;
  padding-bottom: 12px;
}
.comment .commentPerson {
  margin-right: 8px;
}
.comment .secondary-text {
  white-space: pre-wrap;
}

.discussion2 {
  width: 400px;
  padding: 32px;
  padding-left: 6px;
}

.meter {
  height: 5px;
  border-radius: 2.5px;
  background: #0078D4;
}
.meter.meter-empty {
  width: 20px;
  background: #C8C8C8;
}