.discussion .vss-Persona {
  margin-top: 2px;
  margin-right: 8px;
}

.comment {
  padding-top: 12px;
  padding-bottom: 12px;
}
.comment .commentTitle {
  margin-bottom: 4px;
}
.comment .commentPerson {
  margin-right: 8px;
}
.comment .secondary-text {
  white-space: pre-wrap;
}